@charset "UTF-8";
/* slideshow css */


/* container for slides */
.images {
	background:#fff url(../images/gradient/h300.png) repeat-x;
	position:absolute;	
	/*height:250px;
	width:740px;*/
	float:left;	
	cursor:pointer;
	
}
.images {
	background:#fff url(../images/h300.png) repeat-x;
	position:relative;	
	/*height:250px;
	width:740px;
	height:250px;
	width:740px;*/
	float:left;	
	cursor:pointer;
	
}

/* single slide */
.lkl_images div {
	display:none;
	position:absolute;
	top:0;
	left:0;		
	height:250px;
	font-size:12px;
}
.images div {
	position:absolute;
	top:0;
	left:0;		
	/*width:140px; 
        height:250px;*/ 
	font-size:12px;
}

/* header */
.images h3 {
	font-size:22px;
	font-weight:normal;
	margin:0 0 20px 0;
	color:#456;
}
.myimages h3 {
	font-size:22px;
	font-weight:normal;
	margin:0 0 20px 0;
	color:#456;
}

/* tabs (those little circles below slides) */
.slidetabs {
	position:absolute;
	top:375px;
	right:20px;		
	/*clear:both;
	margin-left:330px;*/
}

/* single tab */
.slidetabs a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(../images/navigator.png) 0 0 no-repeat;
	display:block;
	font-size:1px;		
}

/* mouseover state */
.slidetabs a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
.slidetabs a.current {
	background-position:0 -16px;     
} 
#fssPrev{z-index: 10000; position:absolute;top:0px;left:-68px;background:url(../images/arrows.png) -67px 0px;width:67px;height:143px;text-indent:-999999px;}
#fssNext{z-index: 10000; position:absolute;top:0px;left:982px;background:url(../images/arrows.png) no-repeat;width:67px;height:143px;text-indent:-999999px;}
